<h1 class="content_tittle">Find your stay</h1>
<section class="main_finding">
        <div class="place-picture flexslider">
            <ul class="slides">
                <li><img src="/img/ottawa_homes/ottawa_01.png" alt="Ottawa Home" class="place-img"></li>
                <li><img src="/img/ottawa_homes/ottawa_02.png" alt="Ottawa Home" class="place-img"></li>
                <li><img src="/img/ottawa_homes/ottawa_03.png" alt="Ottawa Home" class="place-img"></li>
                <li><img src="/img/ottawa_homes/ottawa_04.png" alt="Ottawa Home" class="place-img"></li>               
            </ul>
            <h2>Ottawa</h2>
            <h3>Bright, Clean, Private. In the Heart of Downtown!</h3>
            <p>6 guests - 2 bedrooms - 3 beds - 1 bath</p>
            <p class="price">$130/night</p>
        </div>
        <div class="place-picture flexslider">
            <ul class="slides">
                <li><img src="/img/calgary_homes/calgary_01.png" alt="Online Experiences" class="place-img"></li>
                <li><img src="/img/calgary_homes/calgary_02.png" alt="Online Experiences" class="place-img"></li>
                <li><img src="/img/calgary_homes/calgary_03.png" alt="Online Experiences" class="place-img"></li>
                <li><img src="/img/calgary_homes/calgary_04.png" alt="Online Experiences" class="place-img"></li>               
            </ul>
            <h2>Calgary</h2>
            <h3>2BR CONDO 10-15MIN TO DOWNTOWN</h3>
            <p>5 guests - 2 bedrooms - 5 beds - 1 bath</p>
            <p class="price">$110/night</p>
        </div>
        <div class="place-picture flexslider">
            <ul class="slides">
                <li><img src="/img/toronto_homes/toronto_01.png" alt="Online Experiences" class="place-img"></li>
                <li><img src="/img/toronto_homes/toronto_02.png" alt="Online Experiences" class="place-img"></li>
                <li><img src="/img/toronto_homes/toronto_03.png" alt="Online Experiences" class="place-img"></li>
                <li><img src="/img/toronto_homes/toronto_04.png" alt="Online Experiences" class="place-img"></li>               
            </ul>
            <h2>Toronto</h2>
            <h3>Awesome New Toronto Experience</h3>
            <p>5 guests - 2 bedrooms - 4 beds - 1 bath</p>
            <p class="price">$120/night</p>
        </div>
        <div class="place-picture flexslider">
            <ul class="slides">
                <li><img src="/img/vancouver_homes/varcouver_01.png" alt="Online Experiences" class="place-img"></li>
                <li><img src="/img/vancouver_homes/varcouver_02.png" alt="Online Experiences" class="place-img"></li>
                <li><img src="/img/vancouver_homes/varcouver_03.png" alt="Online Experiences" class="place-img"></li>
                <li><img src="/img/vancouver_homes/varcouver_04.png" alt="Online Experiences" class="place-img"></li>               
            </ul>
            <h2>Vancouver</h2>
            <h3>Amazing!! Full, 2BR+2BA+Parking+AC</h3>
            <p>5 guests - 2 bedrooms - 3 beds - 2 baths</p>
            <p class="price">$170/night</p>
        </div>
</section>
