    <div class="homes">
        <div class="place-picture flexslider">
            <ul class="slides">
                <li>
                    <img src="/img/ottawa_01.png" alt="Online Experiences" class="place-img">
                </li>
                <li>
                    <img src="/img/ottawa_02.png" alt="Online Experiences" class="place-img">
                </li>
                <li>
                    <img src="/img/ottawa_03.png" alt="Online Experiences" class="place-img">
                </li>
                <li>
                    <img src="/img/ottawa_04.png" alt="Online Experiences" class="place-img">
                </li>               
            </ul>
        </div>
        <h1>Bright, Clean, Private. In the Heart of Downtown!</h1>
        <p>6 guests 2 bedrooms 3 beds 1 bath</p>
        <a href="#" class="content_button">Learn More</a> 
    </div>
