<article class= "main_picture">
    <nav class="nav" id="nav">
        <ul class="menu" id="menu">
        <li class="menu_item"><a class="menu_link" href="#">About Us</a></li>
        <li class="menu_item"><a class="menu_link" href="#">Host a Home</a></li>
        <li class="menu_item"><a class="menu_link" href="#">Sign Up</a></li>
        <li class="menu_item"><a class="menu_link" href="#">Log In</a></li>
    </ul>
    </nav>

    <div class="booking_window">
        <h1>Book unique places to stay <br>
            in your favourite city.</h1>
        <form class="filters" id="filersForm">
            <div class="where">
               <p>Where</p>
               <li>
                   <select name="where" class="where">
                        <option value="select">Please, select a place</option>
                        <option value="calgary">Calgary</option>
                        <option value="toronto">Toronto</option>
                        <option value="vancouver">Vancouver</option>
                        <option value="ottawa">Ottawa</option>
                   </select>
               </li>
            </div>
            <div class="checkin">
                <p>Check In</p>
                <li><label for="checkin"></label></li>
                <li><input type="date" name="checkin"></li>
                <p>Check Out</p>
                <li><label for="checkin"></label></li>
                <li><input type="date" name="checkout"></li>
            </div>
        </form>
    </div>
    <p>South Glenmore Park, Calgary, Canada</p>
</article>
