<article class="login">
    <h1>Log in</h1>
    <form action="/login" method="POST">
        <div class="email">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="password">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" class="button">Log in</button>
    </form>
    <a href="/register">Do not have an account? Register</a>
</article>